<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>NoticeBoard Form</title></head>
<body>


<h2 th:text="${board.id} != '' ? 'Edit NoticeBoard' : 'New NoticeBoard'"></h2>


<form th:action="@{${board.id} != '' ? '/noticeboards/' + ${board.id} : '/noticeboards'}"
      th:object="${board}" method="post">


    <label>ID:
        <input type="text" th:field="*{id}" th:readonly="${board.id} != ''" required/>
    </label>
    <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color:red"></div>
    <br/>


    <label>Date (text):
        <input type="text" th:field="*{date}" required/>
    </label>
    <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" style="color:red"></div>
    <br/>


    <button type="submit" th:text="${board.id} != '' ? 'Update' : 'Create'"></button>
</form>


<a href="/noticeboards">Back to list</a>


</body>
</html>