<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>NoticeBoards</title></head>
<body>
<h2>NoticeBoards</h2>


<a href="/noticeboards/new">Add new</a>


<table border="1">
    <thead><tr><th>ID</th><th>Date</th><th>Actions</th></tr></thead>
    <tbody>
    <tr th:each="b : ${boards}">
        <td th:text="${b.id}">id</td>
        <td th:text="${b.date}">date</td>
        <td>
            <a th:href="@{'/noticeboards/' + ${b.id} + '/details'}">Details</a>
            <a th:href="@{'/noticeboards/' + ${b.id} + '/edit'}">Edit</a>


            <form th:action="@{'/noticeboards/' + ${b.id} + '/delete'}" method="post" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    <tr th:if="${#lists.isEmpty(boards)}">
        <td colspan="3">No noticeboards found.</td>
    </tr>
    </tbody>
</table>
</body>
</html>