<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airplanes</title>
</head>
<body>
<h2>All Airplanes</h2>
<a href="/airplanes/new">Add New Airplane</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Model</th>
        <th>Capacity</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${airplanes}">
        <td th:text="${a.id}">ID</td>
        <td th:text="${a.number}">Number</td>
        <td th:text="${a.model}">Model</td>
        <td th:text="${a.capacity}">Capacity</td>
        <td>
            <a th:href="@{'/airplanes/' + ${a.id} + '/details'}">Details</a>
            <a th:href="@{'/airplanes/' + ${a.id} + '/edit'}">Edit</a>
            <form th:action="@{'/airplanes/' + ${a.id} + '/delete'}" method="post" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
