<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Airline Employees</title>
</head>
<body>

<h2>All Airline Employees</h2>
<a href="/airlineemployees/new">Add New Employee</a>

<form method="get" action="/airlineemployees">

    <label>Name:</label>
    <input type="text" name="name" th:value="${name}"/>

    <label>Role:</label>
    <input type="text" name="role" th:value="${role}"/>

    <button type="submit">Filter</button>

</form>
<br>

<table border="1">
    <thead>
    <tr>
        <th>
            <a th:href="@{'/airlineemployees'(name=${name}, role=${role},
                sortField='id', sortDir=${reverseSortDir})}">
                ID
            </a>
        </th>

        <th>
            <a th:href="@{'/airlineemployees'(name=${name}, role=${role},
                sortField='name', sortDir=${reverseSortDir})}">
                Name
            </a>
        </th>

        <th>
            <a th:href="@{'/airlineemployees'(name=${name}, role=${role},
                sortField='role', sortDir=${reverseSortDir})}">
                Role
            </a>
        </th>

        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e : ${employees}">
        <td th:text="${e.id}">ID</td>
        <td th:text="${e.name}">Name</td>
        <td th:text="${e.role}">Role</td>
        <td>
            <a th:href="@{'/airlineemployees/' + ${e.id} + '/details'}">Details</a>
            <a th:href="@{'/airlineemployees/' + ${e.id} + '/edit'}">Edit</a>
            <form th:action="@{'/airlineemployees/' + ${e.id} + '/delete'}" method="post" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
