<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${luggage.id} != null ? 'Edit Luggage' : 'New Luggage'">Luggage</title>
</head>
<body>
<h2 th:text="${luggage.id} != null ? 'Edit Luggage' : 'New Luggage'"></h2>

<form th:action="${luggage.id} != null ? @{ '/luggages/' + ${luggage.id} + '/edit' } : @{ '/luggages/new' }"
      th:object="${luggage}" method="post">

    <!-- Type -->
    <label>Type:</label>
    <input type="text" th:field="*{type}" required/>
    <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
    <br/><br/>

    <!-- Weight -->
    <label>Weight:</label>
    <input type="number" th:field="*{weight}" required min="1"/>
    <div th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>
    <br/><br/>


    <!-- Ticket ID -->
    <label>Ticket ID:</label>
    <input type="text" th:field="*{ticketId}" required />
    <div th:if="${#fields.hasErrors('ticketId')}" th:errors="*{ticketId}"></div>
    <br/><br/>


    <button type="submit">Save</button>
</form>

<a href="/luggages">Back to list</a>
</body>
</html>
