<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passengers</title>
</head>
<body>

<h1>All Passengers</h1>
<a href="/passengers/new">Add New Passenger</a>

<form method="get" action="/passengers">

    <label>Currency:</label>
    <input type="text" name="currency" th:value="${currency}"/>

    <label>Date From:</label>
    <input type="date" name="dateFrom" th:value="${dateFrom}"/>

    <label>Date To:</label>
    <input type="date" name="dateTo" th:value="${dateTo}"/>

    <button type="submit">Filter</button>
</form>

<br/>

<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>
            <a th:href="@{/passengers(
            currency=${currency},
            dateFrom=${dateFrom},
            dateTo=${dateTo},
            sortField='id',
            sortDir=${sortField=='id' and sortDir=='asc' ? 'desc' : 'asc'}
        )}">
                ID
                <span th:if="${sortField=='id'}"
                      th:text="${sortDir=='asc' ? '▲' : '▼'}"></span>
            </a>
        </th>

        <th>
            <a th:href="@{/passengers(
            currency=${currency},
            dateFrom=${dateFrom},
            dateTo=${dateTo},
            sortField='name',
            sortDir=${sortField=='name' and sortDir=='asc' ? 'desc' : 'asc'}
        )}">
                Name
                <span th:if="${sortField=='name'}"
                      th:text="${sortDir=='asc' ? '▲' : '▼'}"></span>
            </a>
        </th>

        <th>
            <a th:href="@{/passengers(
            currency=${currency},
            dateFrom=${dateFrom},
            dateTo=${dateTo},
            sortField='currency',
            sortDir=${sortField=='currency' and sortDir=='asc' ? 'desc' : 'asc'}
        )}">
                Currency
                <span th:if="${sortField=='currency'}"
                      th:text="${sortDir=='asc' ? '▲' : '▼'}"></span>
            </a>
        </th>

        <th>
            <a th:href="@{/passengers(
            currency=${currency},
            dateFrom=${dateFrom},
            dateTo=${dateTo},
            sortField='email',
            sortDir=${sortField=='email' and sortDir=='asc' ? 'desc' : 'asc'}
        )}">
                Email
                <span th:if="${sortField=='email'}"
                      th:text="${sortDir=='asc' ? '▲' : '▼'}"></span>
            </a>
        </th>

        <th>
            <a th:href="@{/passengers(
            currency=${currency},
            dateFrom=${dateFrom},
            dateTo=${dateTo},
            sortField='dateOfBirth',
            sortDir=${sortField=='dateOfBirth' and sortDir=='asc' ? 'desc' : 'asc'}
        )}">
                Date of Birth
                <span th:if="${sortField=='dateOfBirth'}"
                      th:text="${sortDir=='asc' ? '▲' : '▼'}"></span>
            </a>
        </th>

        <th>Actions</th>
    </tr>
    </thead>


    <tbody>
    <tr th:each="passenger : ${passengers}">
        <td th:text="${passenger.id}">ID</td>
        <td th:text="${passenger.name}">Name</td>
        <td th:text="${passenger.currency}">Currency</td>
        <td th:text="${passenger.email}">Email</td>
        <td th:text="${passenger.dateOfBirth}">DateOfBirth</td>
        <td>
            <a th:href="@{'/passengers/' + ${passenger.id} + '/details'}">Details</a>
            <a th:href="@{'/passengers/' + ${passenger.id} + '/edit'}">Edit</a>

            <form th:action="@{'/passengers/' + ${passenger.id} + '/delete'}" method="post" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
